{% extends 'base.html.twig' %}

{% block title %}Edit user!{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href='/css/main.css'/>
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>

    <form action="{{ path('saveUser') }}", method="POST">
        <table class="user">
          <tr>
            <th>User #</th>
            {% if person.personId != null %}
                <td>
                <input
                type="text"
                name="id"
                id="id"
                value="{{ person.personId }}"
              />
              </td>
            {% else %}
                <td> NEW USER </td>
            {% endif %}
          </tr>
          <tr>
            <th>First name</th>
            <td>
              <input
                type="text"
                name="first-name"
                id="first-name"
                value="{{ person.personFirstname }}"
              />
            </td>
          </tr>
          <tr>
            <th>Last name</th>
            <td>
              <input
                type="text"
                name="last-name"
                id="last-name"
                value="{{ person.personLastname }}"
              />
            </td>
          </tr>
          <tr>
            <th>Birth date</th>
            <td>
              <input type="text" name="dob" id="dob" value="{{ person.personBirthdate |date("d/m/Y") }}" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
                <button type="submit">Save</button>
                <button formaction="{{ path('cancelEdit') }}">Cancel</button>
            </td>
          </tr>
        </table>
    </form>
<!--  -->
{% if person.personId != null %}
    <table>
      <tr>
        <th>Date</th>
        <th class="name">Titles</th>
        <th>Return</th>
      </tr>
      {% for borrow in borrows %}
      <tr>
        <td> {{ borrow.borrowDate |date("d/m/Y") }} </th>
        <td> {{ borrow.book.bookTitle }} </th>
        <td class="icons-col">
        {% if borrow.borrowReturn is not null %}
        {{ borrow.borrowReturn |date("d/m/Y")}}
        {% else %}
          
            <div class="icons-row">
              <button onclick="returnBorrow(this, {{ borrow.borrowId }});">
                <img src="img/return.png" />
              </button>
            </div>
          
        {% endif %}
        </td>
    
      </tr>
      {% else %}
      <td colspan="3">
        No borrows
      </td>
      {% endfor %}


      <form action="{{ path('addBorrowBook') }}" method="POST">
          <tr>
              <td colspan="2">
              <input type="hidden" name="userId" value="{{ person.personId }}" />
                <select name="bookId">
                    <option value="-1" selected="selected">-</option>
                    {% for book in books %}
                    <option value="{{ book.bookId }}">{{ book.bookTitle }}</option>
                    {% endfor %}
                  </select>
              </td>
              <td class="icons-col">
                <div class="icons-row">
                  <button type="submit"><img src="img/plus.png" /></button>
                </div>
              </td>
          </tr>
      </form>
    </table>

    {% endif %}

{% endblock %}

{% block javascripts %}

{% endblock %}
